/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,body{
 	font-family: Ubuntu, sans-serif;
	width:100%;
	height:100%;
}
html { 
  background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}

/* Clear floats */

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix{
  *zoom: 1;
}

/* Layout styles */

header{
    padding: 10px 0;            
    background-color: #373E43;
    box-shadow: 0 -3px 3px #000 inset;
}

header hgroup{
    margin: 0 auto;
    width: 960px;            
}
        
header h1{
    margin: 0;
    font: 25px/1 Ubuntu, sans-serif;
    float: left;
    text-shadow: 0 1px 0 rgba(0,0,0,.9);   
    color: #FFFFFF;         
}

#main{
    margin: 50px auto 0 auto;
    width: 960px;
}

.opaque{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.80;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

#pizza-list {
	float: left;
	margin-right: 30px;
	padding: 10px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 5px 5px 5px black;
	-webkit-box-shadow: 5px 5px 5px black;
	box-shadow: 5px 5px 5px black;
	background-color:#373E43;
}
#pizza-list h2{
	padding-bottom:20px;
	color: #FFFFFF;
}
#pizza-list label{
	font-size: 12px;
	margin-right: 15px;
	margin-left: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

 
li {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  width: 100%;
  cursor:pointer;
  margin-bottom: 5px;
}
 
li:hover {
  background: #f6f6f6;
  color: #373E43;
}

#select-pizza{
	padding: 10px;
    width: 220px;
	float: left;
	margin-right: 30px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 5px 5px 5px black;
	-webkit-box-shadow: 5px 5px 5px black;
	box-shadow: 5px 5px 5px black;
	background-color:#373E43;
}

#select-pizza h2{
	padding-bottom:20px;
	color: #FFFFFF;
}

footer{
	text-align: right;
	position:fixed;
	left:0px;
	bottom:0px;
	height:40px;
	width:100%;
	background-color: #373E43;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.80;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

footer p{
	display: block;
	color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
    margin-top: 12px;
    margin-right: 20px;
}

footer p a{
    text-decoration: none;
    color: #0091CA;
}